In [1]:
!pip install bokeh

Requirement already satisfied: bokeh in c:\users\lenovo\anaconda3\lib\site-packages (2.4.2)
Requirement already satisfied: tornado>=5.1 in c:\users\lenovo\anaconda3\lib\site-packages (from bokeh) (6.1)
Requirement already satisfied: numpy>=1.11.3 in c:\users\lenovo\anaconda3\lib\site-packages (from bokeh) (1.21.5)
Requirement already satisfied: Jinja2>=2.9 in c:\users\lenovo\anaconda3\lib\site-packages (from bokeh) (2.11.3)
Requirement already satisfied: packaging>=16.8 in c:\users\lenovo\anaconda3\lib\site-packages (from bokeh) (21.3)
Requirement already satisfied: typing-extensions>=3.10.0 in c:\users\lenovo\anaconda3\lib\site-packages (from bokeh) (4.1.1)
Requirement already satisfied: PyYAML>=3.10 in c:\users\lenovo\anaconda3\lib\site-packages (from bokeh) (6.0)
Requirement already satisfied: pillow>=7.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from bokeh) (9.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\lenovo\anaconda3\lib\site-packages (from Jinja2>=2.9->bokeh) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from packaging>=16.8->bokeh) (3.0.4)

In [3]:
from bokeh.plotting import figure ,output_file,show
import pandas as pd

In [4]:
data = pd.read_csv('D:/DV_lab/Student_Marks.csv')

In [5]:
data

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [6]:
output_file("gfg.html")

In [7]:
graph = figure(title="BokehDotGraph")

In [10]:
x= data['time_study']
y = data['Marks']
graph.dot(x,y,size=25)
show(graph)